<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Index</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">SI Kemahasiswaan</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-control="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/mahasiswa/tambah">Tambah Mahasiswa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/kelulusan">Kelulusan Mahasiswa</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/mahasiswa/cari">Cari Mahasiswa</a>
					</li>
				</ul>		
			</div>
		</nav>
		
		<h2>Sistem Informasi Kemahasiswaan</h2>
		<h6>Selamat datang di Sistem Informasi Kemahasiswaan</h6>
		<hr/>
		<h3>Lihat Data Mahasiswa Berdasarkan NPM</h3>
		<h6>Masukan Nomor Pokok Mahasiswa</h6>
		<form action="/mahasiswa" method="get">
			<div>
				<input type="text" name="npm" />
			</div>
			<div>
				<button type="submit" name="action" value="Lihat">Lihat</button>
			</div>
		</form>
	</body>
</html>