<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/fragment :: head">
	</head>
	<body>
		<nav th:replace="fragments/fragment :: header">
		</nav>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Sistem Informasi Kemahasiswaan</h2>
					<h6>Selamat datang di Sistem Informasi Kemahasiswaan</h6>
					<hr/>
					<h3>Lihat Data Mahasiswa Berdasarkan NPM</h3>
					<h6>Masukan Nomor Pokok Mahasiswa</h6>
					<form th:replace="fragments/fragment :: formCariNpm">
					
					</form>
				</div>
			</div>
		</div>
	</body>
</html>